In [1]:
import pandas as pd

# load dfs
MLB = pd.read_pickle("./MLB_df.pkl")
MiLB = pd.read_pickle("./MiLB_df.pkl")
College = pd.read_pickle("./College_df.pkl")

In [2]:
# add `Level` column to all dfs
College['Level'] = 'Collegiate - Division_I'
MiLB['Level'] = 'Minor - Triple_A'
MLB['Level'] = 'Major'

In [3]:
# concatenate dfs
baseball_hitting = pd.concat([MLB, MiLB, College], ignore_index=True)

In [4]:
# check new df
baseball_hitting

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
0,TOR,8,9,0,6,0,0,0,3,1,...,0,1,0.667,0.7,0.667,1.367,Otto,Lopez,SS,Major
1,NYY,47,128,28,39,9,0,15,37,19,...,0,0,0.305,0.412,0.727,1.139,Matt,Carpenter,DH,Major
2,NYY,157,570,133,177,28,0,62,131,111,...,16,3,0.311,0.425,0.686,1.111,Aaron,Judge,CF,Major
3,HOU,16,29,7,10,2,1,1,5,5,...,0,0,0.345,0.441,0.586,1.027,David,Hensley,DH,Major
4,OAK,13,35,6,13,0,1,2,9,4,...,1,1,0.371,0.425,0.6,1.025,Conner,Capel,RF,Major
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6360,Indiana,34,79,7,11,1,0,1,6,5,...,0,0,0.139,0.2,0.19,0.39,Peter,Serruto,C,Collegiate - Division_I
6361,Indiana,13,27,3,3,0,0,1,6,1,...,0,0,0.111,0.172,0.222,0.394,Kip,Fougerousse,1B,Collegiate - Division_I
6362,Indiana,16,3,7,0,0,0,0,1,3,...,0,0,0,0.571,0,0.571,Ethan,Vecrumba,DH,Collegiate - Division_I
6363,Indiana,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Jake,Skrine,PH,Collegiate - Division_I
6364,Indiana,16,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Jack,Perkins,P,Collegiate - Division_I

In [5]:
# check column types
baseball_hitting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team                   6365 non-null   object
 1   Games Played           6365 non-null   object
 2   At Bats                6365 non-null   object
 3   Runs                   6365 non-null   object
 4   Hits                   6365 non-null   object
 5   Doubles                6365 non-null   object
 6   Triples                6365 non-null   object
 7   Home Runs              6365 non-null   object
 8   Runs Batted In         6365 non-null   object
 9   Walks                  6365 non-null   object
 10  Strikeouts             6365 non-null   object
 11  Stolen Bases           6365 non-null   object
 12  Caught Stealing        6365 non-null   object
 13  Batting Average        6365 non-null   object
 14  On-Base Percentage     6365 non-null   object
 15  Slugging Percentage    6365 non-null   object
 16  On-Base Plus Slugging  6365 non-null   object
 17  First Name             6365 non-null   object
 18  Last Name              6365 non-null   object
 19  Position               6279 non-null   object
 20  Level                  6365 non-null   object
dtypes: object(21)
memory usage: 1.0+ MB

In [6]:
# get column names, need to change col type for numerical cols
baseball_hitting.columns

Index(['Team', 'Games Played', 'At Bats', 'Runs', 'Hits', 'Doubles', 'Triples',
       'Home Runs', 'Runs Batted In', 'Walks', 'Strikeouts', 'Stolen Bases',
       'Caught Stealing', 'Batting Average', 'On-Base Percentage',
       'Slugging Percentage', 'On-Base Plus Slugging', 'First Name',
       'Last Name', 'Position', 'Level'],
      dtype='object')

In [7]:
# grab just what should be numerical columns
num_cols = ['Games Played', 'At Bats', 'Runs', 'Hits', 'Doubles', 'Triples',
       'Home Runs', 'Runs Batted In', 'Walks', 'Strikeouts', 'Stolen Bases',
       'Caught Stealing', 'Batting Average', 'On-Base Percentage',
       'Slugging Percentage', 'On-Base Plus Slugging']

In [8]:
# make a copy of df to work with 
df = baseball_hitting.copy()

In [9]:
# change column types from strings (object) to floats
for col in num_cols:
    df = df.astype({col: float})

In [10]:
# check column types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team                   6365 non-null   object
 1   Games Played           6365 non-null   float64
 2   At Bats                6365 non-null   float64
 3   Runs                   6365 non-null   float64
 4   Hits                   6365 non-null   float64
 5   Doubles                6365 non-null   float64
 6   Triples                6365 non-null   float64
 7   Home Runs              6365 non-null   float64
 8   Runs Batted In         6365 non-null   float64
 9   Walks                  6365 non-null   float64
 10  Strikeouts             6365 non-null   float64
 11  Stolen Bases           6365 non-null   float64
 12  Caught Stealing        6365 non-null   float64
 13  Batting Average        6365 non-null   float64
 14  On-Base Percentage     6365 non-null   float64
 15  Slugging Percentage    6365 non-null   float64
 16  On-Base Plus Slugging  6365 non-null   float64
 17  First Name             6365 non-null   object
 18  Last Name              6365 non-null   object
 19  Position               6279 non-null   object
 20  Level                  6365 non-null   object
dtypes: float64(16), object(5)
memory usage: 1.0+ MB

In [11]:
# transpose .describe() for easy reading
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Games Played,6365.0,39.021367,28.199737,1.0,18.000,37.000,52.000,162.0
At Bats,6365.0,119.859859,111.395328,0.0,27.000,100.000,183.000,657.0
Runs,6365.0,20.902278,19.861261,0.0,4.000,15.000,33.000,133.0
Hits,6365.0,32.230322,31.592338,0.0,5.000,24.000,52.000,199.0
Doubles,6365.0,6.299293,6.893516,0.0,1.000,4.000,10.000,47.0
Triples,6365.0,0.702749,1.176557,0.0,0.000,0.000,1.000,12.0
Home Runs,6365.0,3.681697,5.394627,0.0,0.000,1.000,5.000,62.0
Runs Batted In,6365.0,19.131500,19.496591,0.0,3.000,14.000,30.000,131.0
Walks,6365.0,14.158523,13.790323,0.0,3.000,11.000,22.000,135.0
Strikeouts,6365.0,29.027494,27.091617,0.0,8.000,24.000,40.000,202.0
Stolen Bases,6365.0,3.375962,5.510366,0.0,0.000,1.000,4.000,62.0
Caught Stealing,6365.0,1.058288,1.598897,0.0,0.000,0.000,2.000,18.0
Batting Average,6365.0,0.232096,0.111197,0.0,0.189,0.250,0.293,1.0
On-Base Percentage,6365.0,0.328385,0.125085,0.0,0.286,0.345,0.393,1.0
Slugging Percentage,6365.0,0.356116,0.204680,0.0,0.261,0.369,0.460,4.0
On-Base Plus Slugging,6365.0,0.684501,0.303777,0.0,0.560,0.716,0.844,5.0

In [12]:
# remove rbi's below 0 and compare with leaving them in 

# put in df to compare with leaving all rbi's in
temp_1 = pd.DataFrame(df[df['Batting Average']>0].describe()['Batting Average'])

# all .describe() with rbi's
temp_2 = pd.DataFrame(df.describe()['Batting Average'])

# compare .describe()'s
compare = pd.concat([temp_1, temp_2], axis=1)
compare.columns = ["below 0 rbi's REMOVED", "all rbi's"]
compare

       below 0 rbi's REMOVED    all rbi's
count            5777.000000  6365.000000
mean                0.255720     0.232096
std                 0.087072     0.111197
min                 0.036000     0.000000
25%                 0.211000     0.189000
50%                 0.257000     0.250000
75%                 0.298000     0.293000
max                 1.000000     1.000000

In [13]:
# drop players with rbi below 50 percentile (after rbi's at 0 are removed, see above `below 0 rbi's REMOVED`)
above_50_rbi = df[df['Batting Average']> 0.257]

# check the number of rows
print(above_50_rbi.shape)

# check number of remaining players at each level
above_50_rbi['Level'].value_counts()

(2851, 21)

Collegiate - Division_I    2627
Major                       176
Minor - Triple_A             48
Name: Level, dtype: int64

In [15]:
# check new df
#above_50_rbi

In [16]:
# transpose .describe() for easy reading
above_50_rbi.describe().T

,count,mean,std,min,25%,50%,75%,max
Games Played,2851.0,46.286917,25.209712,1.000,33.000,48.000,55.000,162.0
At Bats,2851.0,160.420203,103.839334,1.000,92.000,169.000,209.000,652.0
Runs,2851.0,31.202385,20.062168,0.000,16.000,31.000,43.000,133.0
Hits,2851.0,48.439495,30.919036,1.000,26.500,49.000,64.000,199.0
Doubles,2851.0,9.475973,7.033132,0.000,4.000,9.000,13.000,47.0
Triples,2851.0,1.098562,1.403417,0.000,0.000,1.000,2.000,12.0
Home Runs,2851.0,5.528586,5.925693,0.000,1.000,4.000,8.000,62.0
Runs Batted In,2851.0,29.004560,19.934515,0.000,14.000,27.000,41.000,131.0
Walks,2851.0,19.346545,13.620568,0.000,9.000,19.000,27.000,111.0
Strikeouts,2851.0,34.432129,23.969188,0.000,19.000,32.000,46.000,182.0
Stolen Bases,2851.0,5.150474,6.674866,0.000,1.000,3.000,7.000,62.0
Caught Stealing,2851.0,1.561207,1.837243,0.000,0.000,1.000,2.000,12.0
Batting Average,2851.0,0.314483,0.078003,0.258,0.277,0.298,0.329,1.0
On-Base Percentage,2851.0,0.401478,0.076864,0.250,0.361,0.390,0.423,1.0
Slugging Percentage,2851.0,0.487682,0.188002,0.258,0.400,0.462,0.535,4.0
On-Base Plus Slugging,2851.0,0.889160,0.243457,0.536,0.772,0.853,0.946,5.0

In [18]:
above_50_rbi.sort_values(by='Batting Average', ascending=False)[:50]

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
3994,Youngstown State,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Pete,Panko,DH,Collegiate - Division_I
4336,Fresno State,26.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Kyle,Pruhsmeier,3B,Collegiate - Division_I
1192,Missouri,3.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Garrison,Bennett,C,Collegiate - Division_I
1191,Missouri,1.0,1.0,2.0,1.0,0.0,0.0,0.0,3.0,1.0,...,0.0,0.0,1.000,0.667,1.000,1.667,Art,Schoenstadt,2B,Collegiate - Division_I
3474,Rhode Island,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.000,1.000,4.000,5.000,Billy,Butler,RF,Collegiate - Division_I
6168,South Florida,4.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Albert,Hernandez,PH,Collegiate - Division_I
1031,Oregon State,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Justin,Thorsteinson,PH,Collegiate - Division_I
5357,East Carolina,39.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Garrett,Saylor,P,Collegiate - Division_I
5923,Toledo,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Noah,Matousek,3B,Collegiate - Division_I
2169,UMBC,4.0,2.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,...,0.0,0.0,1.000,1.000,1.500,2.500,Hunter,Rivera,LF,Collegiate - Division_I
3824,Seton Hall,7.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Daniel,Frontera,NaN,Collegiate - Division_I
3847,George Mason,18.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,...,0.0,0.0,1.000,1.000,4.000,5.000,Jared,Lyons,P,Collegiate - Division_I
1429,Prairie View,19.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Joshua,Larzabal,NaN,Collegiate - Division_I
6130,James Madison,11.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Joe,Vogatsky,P,Collegiate - Division_I
4521,Seattle,10.0,4.0,2.0,4.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,1.000,1.000,2.250,3.250,Nathan,Mirochnick,NaN,Collegiate - Division_I
4710,Pepperdine,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Ethan,Suh,PH,Collegiate - Division_I
4988,Mississippi Valley State,14.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Angel,Maldonado,PH,Collegiate - Division_I
4872,Cincinnati,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Sean,Springer,PH,Collegiate - Division_I
1854,California,4.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,2.000,3.000,Andres,Galan,PH,Collegiate - Division_I
1603,Saint Mary's,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Rees,Kent,PH,Collegiate - Division_I
1680,Houston,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000,1.000,1.000,2.000,Nick,DeNicola,RF,Collegiate - Division_I
4622,Wofford,12.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.000,1.000,1.000,2.000,Connor,Larson,SS,Collegiate - Division_I
412,ATL,1.0,4.0,0.0,3.0,2.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.750,0.750,1.250,2.000,Chadwick,Tromp,C,Major
5958,Southern,2.0,4.0,2.0,3.0,0.0,1.0,2.0,7.0,0.0,...,0.0,0.0,0.750,0.750,2.750,3.500,Christian,Davis,NaN,Collegiate - Division_I
1338,Texas State,18.0,3.0,0.0,2.0,1.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.667,0.667,1.000,1.667,Carson,Keithley,LF,Collegiate - Division_I
3579,Mercer,4.0,3.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.667,0.667,0.667,1.334,James,MacCallum,RF,Collegiate - Division_I
1871,Arizona State,4.0,3.0,0.0,2.0,0.0,0.0,0.0,2.0,2.0,...,0.0,0.0,0.667,0.800,0.667,1.467,Michael,Brueser,1B,Collegiate - Division_I
2808,Virginia,5.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.667,0.667,0.667,1.334,Addie,Burrow,PH,Collegiate - Division_I
4889,Wake Forest,3.0,3.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.667,0.667,0.667,1.334,Pirmin,Brechbuhl,LF,Collegiate - Division_I
6113,Lafayette,2.0,6.0,2.0,4.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.667,0.667,0.833,1.500,Ben,Petrone,2B,Collegiate - Division_I
0,TOR,8.0,9.0,0.0,6.0,0.0,0.0,0.0,3.0,1.0,...,0.0,1.0,0.667,0.700,0.667,1.367,Otto,Lopez,SS,Major
4562,Delaware State,5.0,5.0,5.0,3.0,1.0,0.0,0.0,5.0,2.0,...,0.0,0.0,0.600,0.625,0.800,1.425,Gavin,Banks,NaN,Collegiate - Division_I
3580,Mercer,7.0,5.0,2.0,3.0,0.0,0.0,1.0,4.0,2.0,...,0.0,0.0,0.600,0.625,1.200,1.825,Trevor,Rider,RF,Collegiate - Division_I
6201,North Alabama,18.0,5.0,2.0,3.0,0.0,0.0,2.0,4.0,0.0,...,0.0,0.0,0.600,0.667,1.800,2.467,Austin,Emener,NaN,Collegiate - Division_I
3600,Texas Tech,7.0,7.0,6.0,4.0,1.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.571,0.700,0.714,1.414,Drew,Reynolds,C,Collegiate - Division_I
3972,Washington,28.0,7.0,4.0,4.0,0.0,0.0,0.0,2.0,2.0,...,5.0,1.0,0.571,0.700,0.571,1.271,Luke,Rohleder,LF,Collegiate - Division_I
6076,Texas,25.0,18.0,8.0,10.0,2.0,0.0,0.0,2.0,3.0,...,0.0,1.0,0.556,0.619,0.667,1.286,Ace,Whitehead,LF,Collegiate - Division_I
4337,Fresno State,13.0,18.0,8.0,10.0,2.0,0.0,1.0,6.0,0.0,...,0.0,0.0,0.556,0.556,0.833,1.389,Tyler,Davis,C,Collegiate - Division_I
1490,Kansas State,29.0,8.0,7.0,4.0,0.0,0.0,0.0,4.0,3.0,...,2.0,0.0,0.500,0.583,0.500,1.083,Brendan,Jones,PH,Collegiate - Division_I
5026,Gardner-Webb,2.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.500,0.500,0.500,1.000,Diego,Santiago,PH,Collegiate - Division_I
1926,Florida International,3.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.500,0.667,0.500,1.167,Gabriel,Perez,CF,Collegiate - Division_I
4030,Clemson,11.0,8.0,4.0,4.0,0.0,1.0,0.0,2.0,1.0,...,0.0,0.0,0.500,0.600,0.750,1.350,Mac,Starbuck,SS,Collegiate - Division_I
4197,UNC Wilmington,2.0,2.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.500,0.500,0.500,1.000,Aidan,Smith,PH,Collegiate - Division_I
4229,Ohio,4.0,8.0,1.0,4.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.500,0.600,0.625,1.225,Wes,Lug,C,Collegiate - Division_I
4245,Florida Atlantic,9.0,4.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.500,0.600,1.000,1.600,Jack,Clarke,PH,Collegiate - Division_I
1339,Texas State,4.0,2.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.500,0.333,0.500,0.833,Dylan,Kerbow,PH,Collegiate - Division_I
4390,Georgia Southern,4.0,2.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,...,0.0,0.0,0.500,0.500,2.000,2.500,JD,Kaiser,C,Collegiate - Division_I
4410,Oakland,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.500,1.000,Kevin,Krill,C,Collegiate - Division_I
1889,Liberty,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.500,0.667,0.500,1.167,Bo,Majkowski,LF,Collegiate - Division_I
4522,Seattle,11.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.500,1.000,Blake,Leaverton,NaN,Collegiate - Division_I

In [19]:
# who was best MLB team?
houston_astros = df[df['Team']=='HOU']
best = houston_astros.sort_values(by='On-Base Plus Slugging', ascending=False)#.iloc[0]
pd.DataFrame(best)#.T

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
3,HOU,16.0,29.0,7.0,10.0,2.0,1.0,1.0,5.0,5.0,...,0.0,0.0,0.345,0.441,0.586,1.027,David,Hensley,DH,Major
5,HOU,135.0,470.0,95.0,144.0,29.0,2.0,37.0,97.0,78.0,...,1.0,1.0,0.306,0.406,0.613,1.019,Yordan,Alvarez,DH,Major
9,HOU,141.0,527.0,103.0,158.0,39.0,0.0,28.0,57.0,66.0,...,18.0,1.0,0.300,0.387,0.533,0.920,Jose,Altuve,2B,Major
32,HOU,155.0,548.0,93.0,142.0,38.0,0.0,23.0,93.0,87.0,...,1.0,2.0,0.259,0.366,0.454,0.820,Alex,Bregman,3B,Major
37,HOU,150.0,544.0,71.0,140.0,28.0,1.0,30.0,107.0,59.0,...,25.0,4.0,0.257,0.330,0.478,0.808,Kyle,Tucker,RF,Major
49,HOU,64.0,243.0,28.0,70.0,14.0,1.0,5.0,26.0,31.0,...,1.0,1.0,0.288,0.370,0.416,0.786,Michael,Brantley,DH,Major
84,HOU,119.0,359.0,47.0,88.0,12.0,2.0,14.0,44.0,46.0,...,4.0,3.0,0.245,0.332,0.407,0.739,Chas,McCormick,LF,Major
106,HOU,136.0,521.0,72.0,132.0,20.0,2.0,22.0,63.0,22.0,...,11.0,2.0,0.253,0.289,0.426,0.715,Jeremy,Pena,SS,Major
108,HOU,119.0,398.0,41.0,109.0,23.0,0.0,9.0,52.0,22.0,...,1.0,4.0,0.274,0.315,0.399,0.714,Christian,Vazquez,C,Major
111,HOU,143.0,519.0,56.0,124.0,23.0,1.0,18.0,63.0,53.0,...,0.0,0.0,0.239,0.319,0.391,0.710,Trey,Mancini,DH,Major
127,HOU,92.0,305.0,35.0,74.0,13.0,0.0,12.0,38.0,18.0,...,1.0,1.0,0.243,0.287,0.403,0.690,Aledmys,Diaz,LF,Major
171,HOU,146.0,545.0,53.0,132.0,40.0,0.0,8.0,53.0,30.0,...,8.0,0.0,0.242,0.288,0.360,0.648,Yuli,Gurriel,1B,Major
220,HOU,113.0,344.0,40.0,64.0,12.0,0.0,15.0,45.0,22.0,...,0.0,0.0,0.186,0.248,0.352,0.600,Martin,Maldonado,C,Major
231,HOU,32.0,67.0,7.0,14.0,2.0,0.0,2.0,5.0,2.0,...,1.0,0.0,0.209,0.254,0.328,0.582,J.J.,Matijevic,X,Major
232,HOU,52.0,150.0,13.0,34.0,6.0,2.0,1.0,15.0,7.0,...,2.0,1.0,0.227,0.269,0.313,0.582,Jake,Meyers,CF,Major
268,HOU,83.0,197.0,21.0,41.0,8.0,0.0,3.0,16.0,12.0,...,2.0,3.0,0.208,0.254,0.294,0.548,Mauricio,Dubon,CF,Major
298,HOU,6.0,8.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.125,0.222,0.250,0.472,Yainer,Diaz,DH,Major
311,HOU,12.0,25.0,1.0,4.0,2.0,0.0,0.0,4.0,1.0,...,0.0,0.0,0.160,0.192,0.240,0.432,Korey,Lee,C,Major
323,HOU,34.0,78.0,6.0,9.0,2.0,0.0,1.0,3.0,8.0,...,1.0,0.0,0.115,0.205,0.179,0.384,Jason,Castro,C,Major
337,HOU,15.0,43.0,2.0,5.0,2.0,0.0,0.0,1.0,2.0,...,1.0,0.0,0.116,0.156,0.163,0.319,Niko,Goodrum,2B,Major
375,HOU,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.000,0.000,Taylor,Jones,X,Major
395,HOU,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.000,0.000,Joe,Perez,3B,Major

In [20]:
# list of all positions
positions = list(pd.DataFrame(df['Position'].value_counts()).index)
positions

['C', 'LF', 'DH', 'RF', '2B', '3B', 'CF', '1B', 'SS', 'PH', 'P', 'X', 'PR']

In [34]:
# who are top X number of players for each position?

# proof of concept with 1 player
def best_OPS_by_position(position, dataframe):#, df=baseball_hitting):
    if position in list(pd.DataFrame(dataframe['Position'].value_counts()).index):
    
        search_this_df = dataframe[dataframe['Position'] == position]
        best = search_this_df.sort_values(by='On-Base Plus Slugging', ascending=False).iloc[0]
        as_df = pd.DataFrame(best).T

    return as_df

In [35]:
DHS = df[df['Position'] == '1B']
best = DHS.sort_values(by='On-Base Plus Slugging', ascending=False).iloc[0]
pd.DataFrame(best).T

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
2188,Nevada,4,9,2,4,0,0,2,4,3,...,0,0,0.444,0.583,1.111,1.694,Lance,Kelly,1B,Collegiate - Division_I

In [36]:
DHS = above_50_rbi[above_50_rbi['Position'] == '1B']
best = DHS.sort_values(by='On-Base Plus Slugging', ascending=False).iloc[0]
pd.DataFrame(best).T

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
2188,Nevada,4,9,2,4,0,0,2,4,3,...,0,0,0.444,0.583,1.111,1.694,Lance,Kelly,1B,Collegiate - Division_I

In [37]:
best_OPS_by_position('SS', above_50_rbi)

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
4622,Wofford,12,1,4,1,0,0,0,0,0,...,0,1,1,1,1,2,Connor,Larson,SS,Collegiate - Division_I

In [38]:
top_OPS_players = []
for position in positions:
    top_OPS_players.append(best_OPS_by_position(position, above_50_rbi))
    
pd.concat(top_OPS_players, ignore_index=True)

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
0,Georgia Southern,4,2,1,1,0,0,1,2,0,...,0,0,0.5,0.5,2,2.5,JD,Kaiser,C,Collegiate - Division_I
1,UMBC,4,2,0,2,1,0,0,3,0,...,0,0,1,1,1.5,2.5,Hunter,Rivera,LF,Collegiate - Division_I
2,Rhode Island,1,1,1,1,0,0,1,1,0,...,0,0,1,1,4,5,Billy,Butler,RF,Collegiate - Division_I
3,Toledo,1,1,0,1,1,0,0,0,0,...,0,0,1,1,2,3,Noah,Matousek,3B,Collegiate - Division_I
4,Fairfield,1,2,1,1,0,0,1,1,0,...,0,0,0.5,0.5,2,2.5,Mike,Handal,CF,Collegiate - Division_I
5,Wofford,12,1,4,1,0,0,0,0,0,...,0,1,1,1,1,2,Connor,Larson,SS,Collegiate - Division_I
6,Nevada,4,9,2,4,0,0,2,4,3,...,0,0,0.444,0.583,1.111,1.694,Lance,Kelly,1B,Collegiate - Division_I
7,Youngstown State,1,1,0,1,0,0,0,0,0,...,0,0,1,1,1,2,Pete,Panko,DH,Collegiate - Division_I
8,Missouri,1,1,2,1,0,0,0,3,1,...,0,0,1,0.667,1,1.667,Art,Schoenstadt,2B,Collegiate - Division_I
9,Cincinnati,2,1,0,1,1,0,0,0,0,...,0,0,1,1,2,3,Sean,Springer,PH,Collegiate - Division_I
10,George Mason,18,1,1,1,0,0,1,2,0,...,0,0,1,1,4,5,Jared,Lyons,P,Collegiate - Division_I
11,KC,5,7,1,2,0,0,0,2,0,...,1,0,0.286,0.286,0.286,0.572,Dairon,Blanco,X,Major

In [ ]:
##### proof of concept finished, ok to change number of players, could also add number of players
# to search for in function parameters....?

In [42]:
# this is same player, same year, two diff teams, in diff leagues. 
# this is why he has such low 'at bats' in major on HOU
# he was moved up after Astro lost too many players to injuries
baseball_hitting[(baseball_hitting['Last Name']=='Hensley')&(baseball_hitting['First Name']=='David')]

,Team,Games Played,At Bats,Runs,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,...,Stolen Bases,Caught Stealing,Batting Average,On-Base Percentage,Slugging Percentage,On-Base Plus Slugging,First Name,Last Name,Position,Level
3,HOU,16,29,7,10,2,1,1,5,5,...,0,0,0.345,0.441,0.586,1.027,David,Hensley,DH,Major
916,SUG,104,379,80,113,30,4,10,57,80,...,20,7,.298,.420,.478,.898,David,Hensley,SS,Minor - Triple_A